services:
  # ============================================
  # Core Infrastructure Services
  # ============================================
  
  # Redis - Caching Service
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - beckn_network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
  
  onix-bap:
    image: fidedocker/onix-adapter
    container_name: onix-bap
    platform: linux/amd64
    networks:
      - beckn_network
    ports:
      - "8081:8081"
    environment:
      CONFIG_FILE: "/app/config/local-simple.yaml"
      VAULT_ADDR: http://vault:8200
      VAULT_TOKEN: root
      REDIS_ADDR: redis:6379
      RABBITMQ_ADDR: rabbitmq:5672
      RABBITMQ_USER: admin
      RABBITMQ_PASS: admin123
    volumes:
      - ../config:/app/config
      - ../schemas:/app/schemas
    command: ["./server", "--config=/app/config/local-ev-bap.yaml"]

  onix-bpp:
    image: fidedocker/onix-adapter
    container_name: onix-bpp
    platform: linux/amd64
    networks:
      - beckn_network
    ports:
      - "8082:8082"
    environment:
      CONFIG_FILE: "/app/config/local-simple.yaml"
      VAULT_ADDR: http://vault:8200
      VAULT_TOKEN: root
      REDIS_ADDR: redis:6379
      RABBITMQ_ADDR: rabbitmq:5672
      RABBITMQ_USER: admin
      RABBITMQ_PASS: admin123
    volumes:
      - ../config:/app/config
      - ../schemas:/app/schemas
    command: ["./server", "--config=/app/config/local-ev-bpp.yaml"]

  sandbox-bap:
    container_name: sandbox-bap
    image: fidedocker/sandbox-2.0:latest
    # platform: linux/amd64
    environment:
      - NODE_ENV=production
      - PORT=3001
    ports:
      - "3001:3001"
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3001/api/health"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s
    networks:
      - beckn_network
    
  sandbox-bpp:
    container_name: sandbox-bpp
    image: fidedocker/sandbox-2.0:latest
    # platform: linux/amd64
    environment:
      - NODE_ENV=production
      - PORT=3002
    ports:
      - "3002:3002"
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3002/api/health"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s
    networks:
      - beckn_network

networks:
  beckn_network:
    name: beckn_network
    driver: bridge
