appName: "onix-local"
log:
  level: debug
  destinations:
    - type: stdout
  contextKeys:
    - transaction_id
    - message_id
    - subscriber_id
    - module_id
http:
  port: 8081
  timeout:
    read: 30
    write: 30
    idle: 30
pluginManager:
  root: ./plugins
modules:
  - name: bapTxnReceiver
    path: /bap/receiver/
    handler:
      type: std
      role: bap
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        registry:
          id: dediregistry
          config:
            url: https://api.testnet.beckn.one/registry/dedi
            registryName: subscribers.beckn.one
            timeout: 10
        keyManager:
          id: simplekeymanager
          config:
            networkParticipant: atria-p2p-trading-bap.com
            keyId: 76EU8vgwwpeUFo327h4464BsvdVb7EYTjBWBLbyAWijxcA43Nu8Dck
            signingPrivateKey: 97cx8lMkemzFXLTEhPVBIeMG55a+GsnCKH4fUKbxZ8Q=
            signingPublicKey: QWgWLepDhgGpnax2VlmLeM30+rEpYlz/OqQneQwoFjU=
            encrPrivateKey: 97cx8lMkemzFXLTEhPVBIeMG55a+GsnCKH4fUKbxZ8Q=
            encrPublicKey: QWgWLepDhgGpnax2VlmLeM30+rEpYlz/OqQneQwoFjU=
        schemaValidator:
          id: schemav2validator
          config:
            type: url
            location: https://raw.githubusercontent.com/beckn/protocol-specifications-new/refs/heads/main/api/beckn.yaml
            cacheTTL: "3600"
            extendedSchema_enabled: "true"
            extendedSchema_cacheTTL: "86400"
            extendedSchema_maxCacheSize: "100"
            extendedSchema_downloadTimeout: "30"
            extendedSchema_allowedDomains: "raw.githubusercontent.com,schemas.beckn.org"            
        cache:
          id: cache
          config:
            addr: redis:6379
        signValidator:
          id: signvalidator
        router:
          id: router
          config:
            routingConfig: ./config/local-p2p-routing-BuyerBAPReceiver.yaml
        middleware:
          - id: reqpreprocessor
            config:
              uuidKeys: transaction_id,message_id
              role: bap
      steps:
        - validateSign
        - addRoute
        - validateSchema
  
  - name: bapTxnCaller
    path: /bap/caller/
    handler:
      type: std
      role: bap
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        registry:
          id: dediregistry
          config:
            url: https://api.testnet.beckn.one/registry/dedi
            registryName: subscribers.beckn.one
            timeout: 10
        keyManager:
          id: simplekeymanager
          config:
            networkParticipant: atria-p2p-trading-bap.com
            keyId: 76EU8vgwwpeUFo327h4464BsvdVb7EYTjBWBLbyAWijxcA43Nu8Dck
            signingPrivateKey: 97cx8lMkemzFXLTEhPVBIeMG55a+GsnCKH4fUKbxZ8Q=
            signingPublicKey: QWgWLepDhgGpnax2VlmLeM30+rEpYlz/OqQneQwoFjU=
            encrPrivateKey: 97cx8lMkemzFXLTEhPVBIeMG55a+GsnCKH4fUKbxZ8Q=
            encrPublicKey: QWgWLepDhgGpnax2VlmLeM30+rEpYlz/OqQneQwoFjU=
        schemaValidator:
          id: schemav2validator
          config:
            type: url
            location: https://raw.githubusercontent.com/beckn/protocol-specifications-new/refs/heads/main/api/beckn.yaml
            cacheTTL: "3600"
            extendedSchema_enabled: "true"
            extendedSchema_cacheTTL: "86400"
            extendedSchema_maxCacheSize: "100"
            extendedSchema_downloadTimeout: "30"
            extendedSchema_allowedDomains: "raw.githubusercontent.com,schemas.beckn.org"
        cache:
          id: cache
          config:
            addr: redis:6379
        router:
          id: router
          config:
            routingConfig: ./config/local-p2p-routing-BuyerBAPCaller.yaml
        signer:
          id: signer
        middleware:
          - id: reqpreprocessor
            config:
              uuidKeys: transaction_id,message_id
              role: bap
      steps:
        - addRoute
        - sign
        - validateSchema